@font-face {
    font-family: 'Sackers Gothic';
    src: url('ATSackersGothic-Medium.eot');
    src: url('ATSackersGothic-Medium.eot?#iefix') format('embedded-opentype'),
        url('ATSackersGothic-Medium.woff2') format('woff2'),
        url('ATSackersGothic-Medium.woff') format('woff'),
        url('ATSackersGothic-Medium.ttf') format('truetype'),
        url('ATSackersGothic-Medium.svg#ATSackersGothic-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Notera Personal Use Only';
    src: url('NoteraPersonalUseOnly.eot');
    src: url('NoteraPersonalUseOnly.eot?#iefix') format('embedded-opentype'),
        url('NoteraPersonalUseOnly.woff2') format('woff2'),
        url('NoteraPersonalUseOnly.woff') format('woff'),
        url('NoteraPersonalUseOnly.ttf') format('truetype'),
        url('NoteraPersonalUseOnly.svg#NoteraPersonalUseOnly') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'dearJoe 6 TRIAL';
    src: url('dearJoe6TRIAL.eot');
    src: url('dearJoe6TRIAL.eot?#iefix') format('embedded-opentype'),
        url('dearJoe6TRIAL.woff2') format('woff2'),
        url('dearJoe6TRIAL.woff') format('woff'),
        url('dearJoe6TRIAL.ttf') format('truetype'),
        url('dearJoe6TRIAL.svg#dearJoe6TRIAL') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('GothamBlack.eot');
    src: url('GothamBlack.eot?#iefix') format('embedded-opentype'),
        url('GothamBlack.woff2') format('woff2'),
        url('GothamBlack.woff') format('woff'),
        url('GothamBlack.ttf') format('truetype'),
        url('GothamBlack.svg#GothamBlack') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'TrashHand';
    src: url('TrashHand.eot');
    src: url('TrashHand.eot?#iefix') format('embedded-opentype'),
        url('TrashHand.woff2') format('woff2'),
        url('TrashHand.woff') format('woff'),
        url('TrashHand.ttf') format('truetype'),
        url('TrashHand.svg#TrashHand') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Miller Display Lancome';
    src: url('MillerDisplayLanc-Roman.eot');
    src: url('MillerDisplayLanc-Roman.eot?#iefix') format('embedded-opentype'),
        url('MillerDisplayLanc-Roman.woff2') format('woff2'),
        url('MillerDisplayLanc-Roman.woff') format('woff'),
        url('MillerDisplayLanc-Roman.ttf') format('truetype'),
        url('MillerDisplayLanc-Roman.svg#MillerDisplayLanc-Roman') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Minion Pro';
    src: url('MinionPro-Medium.eot');
    src: url('MinionPro-Medium.eot?#iefix') format('embedded-opentype'),
        url('MinionPro-Medium.woff2') format('woff2'),
        url('MinionPro-Medium.woff') format('woff'),
        url('MinionPro-Medium.ttf') format('truetype'),
        url('MinionPro-Medium.svg#MinionPro-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Minion Pro';
    src: url('MinionPro-BoldCn.eot');
    src: url('MinionPro-BoldCn.eot?#iefix') format('embedded-opentype'),
        url('MinionPro-BoldCn.woff2') format('woff2'),
        url('MinionPro-BoldCn.woff') format('woff'),
        url('MinionPro-BoldCn.ttf') format('truetype'),
        url('MinionPro-BoldCn.svg#MinionPro-BoldCn') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Minion Pro';
    src: url('MinionPro-Regular.eot');
    src: url('MinionPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('MinionPro-Regular.woff2') format('woff2'),
        url('MinionPro-Regular.woff') format('woff'),
        url('MinionPro-Regular.ttf') format('truetype'),
        url('MinionPro-Regular.svg#MinionPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Minion Pro';
    src: url('MinionPro-It.eot');
    src: url('MinionPro-It.eot?#iefix') format('embedded-opentype'),
        url('MinionPro-It.woff2') format('woff2'),
        url('MinionPro-It.woff') format('woff'),
        url('MinionPro-It.ttf') format('truetype'),
        url('MinionPro-It.svg#MinionPro-It') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Minion Pro';
    src: url('MinionPro-SemiboldIt.eot');
    src: url('MinionPro-SemiboldIt.eot?#iefix') format('embedded-opentype'),
        url('MinionPro-SemiboldIt.woff2') format('woff2'),
        url('MinionPro-SemiboldIt.woff') format('woff'),
        url('MinionPro-SemiboldIt.ttf') format('truetype'),
        url('MinionPro-SemiboldIt.svg#MinionPro-SemiboldIt') format('svg');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham';
    src: url('Gotham-Bold.eot');
    src: url('Gotham-Bold.eot?#iefix') format('embedded-opentype'),
        url('Gotham-Bold.woff2') format('woff2'),
        url('Gotham-Bold.woff') format('woff'),
        url('Gotham-Bold.ttf') format('truetype'),
        url('Gotham-Bold.svg#Gotham-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('Gotham-Book.eot');
    src: url('Gotham-Book.eot?#iefix') format('embedded-opentype'),
        url('Gotham-Book.woff2') format('woff2'),
        url('Gotham-Book.woff') format('woff'),
        url('Gotham-Book.ttf') format('truetype'),
        url('Gotham-Book.svg#Gotham-Book') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Miller Display Lancome';
    src: url('MillerDisplayLanc-Light.eot');
    src: url('MillerDisplayLanc-Light.eot?#iefix') format('embedded-opentype'),
        url('MillerDisplayLanc-Light.woff2') format('woff2'),
        url('MillerDisplayLanc-Light.woff') format('woff'),
        url('MillerDisplayLanc-Light.ttf') format('truetype'),
        url('MillerDisplayLanc-Light.svg#MillerDisplayLanc-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Minion Pro';
    src: url('MinionPro-Semibold.eot');
    src: url('MinionPro-Semibold.eot?#iefix') format('embedded-opentype'),
        url('MinionPro-Semibold.woff2') format('woff2'),
        url('MinionPro-Semibold.woff') format('woff'),
        url('MinionPro-Semibold.ttf') format('truetype'),
        url('MinionPro-Semibold.svg#MinionPro-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'WC Mano Negra Bta';
    src: url('WCManoNegraBta.eot');
    src: url('WCManoNegraBta.eot?#iefix') format('embedded-opentype'),
        url('WCManoNegraBta.woff2') format('woff2'),
        url('WCManoNegraBta.woff') format('woff'),
        url('WCManoNegraBta.ttf') format('truetype'),
        url('WCManoNegraBta.svg#WCManoNegraBta') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sackers Gothic Std';
    src: url('SackersGothicStd-Light.eot');
    src: url('SackersGothicStd-Light.eot?#iefix') format('embedded-opentype'),
        url('SackersGothicStd-Light.woff2') format('woff2'),
        url('SackersGothicStd-Light.woff') format('woff'),
        url('SackersGothicStd-Light.ttf') format('truetype'),
        url('SackersGothicStd-Light.svg#SackersGothicStd-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Minion Pro';
    src: url('MinionPro-BoldIt.eot');
    src: url('MinionPro-BoldIt.eot?#iefix') format('embedded-opentype'),
        url('MinionPro-BoldIt.woff2') format('woff2'),
        url('MinionPro-BoldIt.woff') format('woff'),
        url('MinionPro-BoldIt.ttf') format('truetype'),
        url('MinionPro-BoldIt.svg#MinionPro-BoldIt') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Sackers Gothic Std';
    src: url('SackersGothicStd-Heavy.eot');
    src: url('SackersGothicStd-Heavy.eot?#iefix') format('embedded-opentype'),
        url('SackersGothicStd-Heavy.woff2') format('woff2'),
        url('SackersGothicStd-Heavy.woff') format('woff'),
        url('SackersGothicStd-Heavy.ttf') format('truetype'),
        url('SackersGothicStd-Heavy.svg#SackersGothicStd-Heavy') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Minion Pro';
    src: url('MinionPro-Bold.eot');
    src: url('MinionPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('MinionPro-Bold.woff2') format('woff2'),
        url('MinionPro-Bold.woff') format('woff'),
        url('MinionPro-Bold.ttf') format('truetype'),
        url('MinionPro-Bold.svg#MinionPro-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('Gotham-Medium.eot');
    src: url('Gotham-Medium.eot?#iefix') format('embedded-opentype'),
        url('Gotham-Medium.woff2') format('woff2'),
        url('Gotham-Medium.woff') format('woff'),
        url('Gotham-Medium.ttf') format('truetype'),
        url('Gotham-Medium.svg#Gotham-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'WC Mano Negra Bta';
    src: url('WCManoNegraBta-Bold.eot');
    src: url('WCManoNegraBta-Bold.eot?#iefix') format('embedded-opentype'),
        url('WCManoNegraBta-Bold.woff2') format('woff2'),
        url('WCManoNegraBta-Bold.woff') format('woff'),
        url('WCManoNegraBta-Bold.ttf') format('truetype'),
        url('WCManoNegraBta-Bold.svg#WCManoNegraBta-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Minion Pro';
    src: url('MinionPro-MediumIt.eot');
    src: url('MinionPro-MediumIt.eot?#iefix') format('embedded-opentype'),
        url('MinionPro-MediumIt.woff2') format('woff2'),
        url('MinionPro-MediumIt.woff') format('woff'),
        url('MinionPro-MediumIt.ttf') format('truetype'),
        url('MinionPro-MediumIt.svg#MinionPro-MediumIt') format('svg');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'dearJoe 6 TRIAL';
    src: url('dearJoe6TRIAL_1.eot');
    src: url('dearJoe6TRIAL_1.eot?#iefix') format('embedded-opentype'),
        url('dearJoe6TRIAL_1.woff2') format('woff2'),
        url('dearJoe6TRIAL_1.woff') format('woff'),
        url('dearJoe6TRIAL_1.ttf') format('truetype'),
        url('dearJoe6TRIAL_1.svg#dearJoe6TRIAL') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Minion Pro';
    src: url('MinionPro-BoldCnIt.eot');
    src: url('MinionPro-BoldCnIt.eot?#iefix') format('embedded-opentype'),
        url('MinionPro-BoldCnIt.woff2') format('woff2'),
        url('MinionPro-BoldCnIt.woff') format('woff'),
        url('MinionPro-BoldCnIt.ttf') format('truetype'),
        url('MinionPro-BoldCnIt.svg#MinionPro-BoldCnIt') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Sackers Gothic Std';
    src: url('SackersGothicStd-Medium.eot');
    src: url('SackersGothicStd-Medium.eot?#iefix') format('embedded-opentype'),
        url('SackersGothicStd-Medium.woff2') format('woff2'),
        url('SackersGothicStd-Medium.woff') format('woff'),
        url('SackersGothicStd-Medium.ttf') format('truetype'),
        url('SackersGothicStd-Medium.svg#SackersGothicStd-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

