@font-face {
    font-family: 'Chronicle Text G1';
    src: url('ChronicleTextG1-Roman.eot');
    src: url('ChronicleTextG1-Roman.eot?#iefix') format('embedded-opentype'),
        url('ChronicleTextG1-Roman.woff2') format('woff2'),
        url('ChronicleTextG1-Roman.woff') format('woff'),
        url('ChronicleTextG1-Roman.ttf') format('truetype'),
        url('ChronicleTextG1-Roman.svg#ChronicleTextG1-Roman') format('svg');
    font-weight: normal;
    font-style: normal;
}

