@font-face {
    font-family: 'Phosphate';
    src: url('Phosphate-Solid.eot');
    src: url('Phosphate-Solid.eot?#iefix') format('embedded-opentype'),
        url('Phosphate-Solid.woff2') format('woff2'),
        url('Phosphate-Solid.woff') format('woff'),
        url('Phosphate-Solid.ttf') format('truetype'),
        url('Phosphate-Solid.svg#Phosphate-Solid') format('svg');
    font-weight: normal;
    font-style: normal;
}

